{% extends 'base.html' %}
{% load static %}
{% block body %}
    
    
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
          <div class="img_bg" style="background-image: url({% static 'img/slider-1.jpg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                  <h2 class="heading">Blog Grid</h2>
                  <p class="lead">Opening, growing and marketing a restaurant requires a high level of risk, expertise and dedication. To increase a restaurateur’s chance of succeeding, we have compiled a list of restaurant blogs that provide a wealth of valuable and relevant information and insights. Here are 20 of the best restaurant blogs at present.
                  
                    
                    What Is Food Inventory Management?
Restaurant inventory management includes logging, tracking, and reporting what ingredients and supplies come in and out of your restaurant. It's an integral part of loss prevention and provides visibility and control over your margins. If you don't consistently track your inventory, you could be losing money without even knowing it.

Food Inventory Management for Loss Prevention 
In some restaurants, up to 10% of food is wasted before reaching the customer – meaning you may not receive 10% of your revenue under your existing inventory system.

It's one thing to notice that your recent shipment of shrimp decreased quickly, but it's another thing to know exactly why. Was it part of a popular menu item and served to happy customers? If so, excellent! You should be able to attribute every ounce of the shrimp to a price point. However, if that was not the case, you could take into account these areas of loss: 

Staff mistakes
Spillage
Staff meals
Theft
Food that has been sent back due to customer complaints
All of these areas lead to a loss for both inventory and profit for your restaurant. Mistakes happen, and not every ounce of food makes it onto a customer's table, but knowing precisely which supplies have been wasted for any reason is essential. 


How to Prevent Food Waste
Adopting a food inventory management system will assist you in maintaining your profit margins since restocking your inventory is the most considerable expense for your business. By controlling your stock, you can reduce the amount of food your restaurant wastes. Food waste is already a significant issue in the US, with an estimated 30-40 percent of food ending up in the trash. With the right tech solutions, you can minimize your waste for both the health of your restaurant and the planet.  

First, figure out how much food you're wasting unnecessarily. Sometimes, waste is inevitable, like when a customer sends back a dish. However, factors such as preparation waste, spillages, and cooking errors are avoidable. Kitchen staff can become more conscientious of food waste and minimize it with the proper training and equipment. 

Conducting a waste audit is a great way to determine where your waste is derived. You can find out how much your restaurant is currently throwing away and the potential cost savings. For best results, do this when your restaurant is busy but not too busy, so you don't cause disruptions or delays.  

Here are some of the most common sources of restaurant food waste and practical steps to prevent it: 

Over-ordering
Over-ordering from vendors and suppliers occurs for a few reasons. However, the most common one is an inefficient inventory system, which can cause chefs to order more food items than necessary. Streamlining and tracking inventory frequently will prevent you from ordering food items you don't need. 

Spoilage
Even if you're not over-ordering food, you still risk spoilage in your back-of-house. Controlling inventory requires careful inspection upon receiving the product and then clearly labeling all incoming items with best-by dates and names. Labeling ensures your kitchen staff can operate by the first-in, first-out (FIFO) storage method to reduce the risk of on-hand food spoilage. 

Overproduction
Overestimating sales for a menu item can lead to food waste, too. Chefs often will cook too many dishes to avoid 86's, leading to increased food waste. Tracking sales will help you review your menu, adjust for more efficient batching levels, and even eliminate unpopular dishes. 

Various Misfires
Mistakes in the kitchen are inevitable. For example, a line cook could forget to leave the nuts out of a dish for a customer with allergies. Or, a server could fail to note a substitution to a ticket, and the plate gets sent back. Misfires are detrimental to your bottom line, and proper training and attentive management can prevent them from happening during a shift. 

Poor Portion Control
If you're throwing away untouched food at the end of the day, your portions may be off. Effective portion control allows you to stretch your food budget without skimping on quality. Take the time to standardize your food prep measurements so you can prevent customers from leaving extra on their plates. 

While it's impossible to nix food waste altogether, you can take steps to drastically reduce the amount of waste your restaurant produces through a few simple steps to keep more money in your pocket and food out of your trash. 

A Rundown on Restaurant Inventory Terminology
If you're ready to start mastering the art of restaurant inventory, here are a few terms you should be familiar with. 

Sitting Inventory
The amount of product currently in your restaurant. Depending on your business, you should specify sitting inventory as either the physical amount of products or how much they're worth in dollars. Either way, be sure to be consistent and only stick to one unit of measure. 

Depletion
The amount of product (or dollars worth of product) used in a particular period. You can base depletion on daily, weekly, or monthly sales, and it can often be calculated using the sales reporting data from your POS. 

Usage
The amount (or dollars worth) of sitting inventory divided by the average depletion in a specific period. The formula is as follows:

Sitting Inventory / Average Depletion (during a set time frame) = Usage

For example, if you have eight gallons of olive oil and plan to use two gallons per week, you have four weeks of usage.


1. Organize and clean your stock shelves
If your stockroom looks like a tornado just passed through, you're setting yourself up for failure. A messy stockroom leads to kitchen inventory mistakes such as double counting, over-ordering items missed during the count, and staff frustration. No fun, right?

Clean up your stockroom and organize your items in the best way you can before you take inventory. Follow these space-organizing strategies:

Group food items by category. For example, keep all meat together, and all produce together. 
If your stockroom is too crowded, install more shelving to avoid piling items on the floor. 
Add labels to your shelves so that inventory takers know precisely what each item is, mainly when your menu items include similar ingredients. Labels also make it easier to find ingredients during a busy service. 
If you affix labels on your shelves, include arrows that indicate whether the item is on the shelf below or the shelf above. 
Create a specific inventory ID for each item, and use this ID to label your items in your inventory software or spreadsheet. This will make it vastly easier to search for items or analyze your inventory data. 
An organized kitchen is an efficient kitchen, so set your restaurant up for success by implementing these strategies now. Plus, your life will be much easier when it's time to do an inventory count. 

2. Assemble an inventory team and create a schedule.
Now it's time to decide how often you want to take inventory based on your restaurant's needs. If you're running a bar, you'll likely need to do inventory on alcohol every night. For some other food items, once a week is probably enough. Just be sure to do inventory counts before you place new orders, so you don't waste money on products you already have. 

Once you create an optimized schedule, assemble your inventory team. Choose one or two people who will always be in charge of conducting inventory counts. They should already be familiar with your stocking procedures and may even be in charge of receiving orders, too. 

Communicate to your inventory team that good inventory management means a more robust financial standing for the restaurant and increased cash flow - which means improved job security for them. 

Be consistent by scheduling your inventory for the same day at the same time. Consistency will lead to cleaner data you can rely on when managing your budget and calculating your cost of goods sold (CoGS).

3. Automate your inventory tracking using a restaurant management software
Say goodbye to tedious spreadsheets and implement restaurant management software to track your inventory. This tool is essential for streamlining your restaurant's operations and maximizing profitability. Here are just a few ways digitizing your inventory management can help: 

Create automated processes: When deliveries come in, your staff can pull out a tablet with the inventory management software installed to record the units and check the order against the system. Automation cuts down on human error (for example, the vendor only provides you five orders of an ingredient when you ordered ten) and ensures you don't overpay for items.
Set inventory alerts: Never run out of an ingredient during a busy service again. With inventory management software, you can set alerts when you're running low on an ingredient so you can order it before it's gone. 
Use it for recipe costing: It's easy to use your inventory management platform to calculate recipe costs because the software calculates the cost per ingredient. Recipe costing helps you set menu prices. If an ingredient rises in price, you can decide whether you want to raise the menu price for that dish, charge extra for the add-on (like avocado), or find a replacement ingredient.
Automate ordering: Another excellent feature of inventory management software is built-in purchasing and order management. You don't have to lift a finger to order ingredients that you're running low on. Instead, you can set an automation rule to order an ingredient when you hit your par level. That way, your suppliers receive your order instantly, and you can rest assured knowing that a new delivery is on its way. Not only does this save you time from having to place orders manually, but it also eliminates problems that can come from handwritten orders (is that a 4 or 7?)
Manage your vendor relationships: You can also establish delivery times and days in the system, so your vendors don't try to deliver on the day your restaurant is closed. You can pay your invoices digitally and get notified if there's an irregularity in your billing.
4. Track your sales daily
Monitoring sales and stock levels daily allow your restaurant to be in a better position to respond to real-time adjustments. For example, if you sold more of a specific dish than expected and are low on ingredients, you can order them to support demand without removing them from your menu completely. 

5. Keep extra supplies on-hand
For ingredients your restaurant uses quickly, it's a good idea to keep some "just in case" inventory on hand. For example, it may be wise to keep an extra stock of tortillas to fulfill an unexpected demand if you're a local taco shop. Just ensure you're keeping an eye on the excess inventory's freshness, and if unused, use it for staff meals. 

Food Control Procedures 
A huge part of taking inventory is keeping your products up to consistent standards and ensuring they are safe and reliable for customers to consume. This list lays the basic groundwork of things you should do to keep your stock safe. 

1. Ingredient Specifications
A menu item can only be as good as the ingredients put into it. So, the best starting point is defining ingredient specifications for each of your dishes. Document each specification to maintain consistency and include at a minimum: names of ingredients, important dates, and product attributes, although more information may be required. This process will ensure that the supplier hasn't changed its standards or materials. 

2. Approved Supplier List
Each ingredient should have an approved supplier list to assist staff responsible for purchasing and quality control. The approved supplier list should include the following information at a minimum: ingredient name and inventory code, supplier name and contact information, supplier code number, and trade name of the ingredient. 

3. Product Formulation and Recipes
Every food item should have written documentation of its inclusion in the formula or recipe. This process can help to ensure consistency between dishes, batches, or even days of production. 

4. Product Standards
A product standard document is one of the essential tools to assure quality in a menu item. Product standards are the chemical, physical, and microbiological characteristics of the finished dish. Physical attributes such as shape, weight, size, dimensions, and volume are essential to note and count per container or package or any other special features worth documenting. 

Microbiological standards depend on the food item, pathogens, and foreign materials when evaluating food safety. Establish rejection criteria for each food item and acceptable methods for determining them. Your minimum rejection standards rely on regulatory requirements that comply with your state's health department. 

5. Manufacturing Procedures
A few key points to consider when identifying critical processing operations include temperature, equipment required, time, order of ingredients, and weight—document how each menu item is prepared and share it with your kitchen staff. 

6. Packaging and Labeling
You should include packaging and labeling in your quality control program. After all, these materials are the first items that your customers come into contact with if you're running a takeout operation or grab-and-go cafe. 

There are two basic packages necessary for food items - the primary package and the secondary package. The introductory package - typically a carton, box, bottle, or jar, holds the food and directly touches it. The secondary package provides protection or contains multiple packaged food items, such as a paper or plastic bag. 

The law requires a product name, manufacturing or distribution location, and ingredient statement to be on the package for any packaging design. Government regulations also include the size of print and accurate representation of the contents of the package. 

7. Efficient Manufacturing Practices and Sanitation
Federal regulations called Good Manufacturing Procedures (GMPs) define precise procedures geared toward minimizing the contamination of food items in manufacturing, packaging, processing, and warehousing facilities. GMPs are an essential part of quality control, and it's the responsibility of the restaurant manager or owner to ensure that staff members carry out GMPs. Along with GMPs, a consistent sanitizing and cleaning program is vital to implement to prevent contamination. 

How To Improve Restaurant Kitchen Inventory Accuracy
Part of the problem with managing kitchen inventory is ensuring accuracy. You can improve the accuracy of your kitchen's inventory by taking the following steps:

Always take inventory before placing an order. This may seem like common sense, but if you forget to do it, you could forget to order items of critical importance.

Take inventory before or after a restaurant opens or closes. Taking inventory while orders are going in and out can confuse without an automated system.

Take inventory on a regular schedule. If you usually take inventory on Tuesdays and Fridays before the restaurant opens, you will see significant fluctuations if you check inventory on those days after closing.

Take inventory before a shipment arrives. Trying to take inventory while employees are loading the shelves will cause mass confusion and double-counted items.

Implement a first-in, first-out policy. When employees feel pressed for time, they may load shelves quickly rather than by date. Make sure employees always rotate older goods to the front to ensure you use them before they expire. This system will cut down on spoilage and waste.

Calibrate scales. Some restaurants use scales to weigh and measure food when performing inventory. Staff should calibrate the scales weekly to ensure they remain accurate.

Use consistent measurement standards. When tracking inventory, managers should use the same data. Switching from pounds to ounces or from the number of boxes to the number of cans will cause significant confusion and large fluctuations in inventory.

                    

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

       <div class="section">
          <div class="container">
            
            <div class="row mb-5">
             {% for post in post_list %}
              
                <div class="col-md-4">
                    <div class="media d-block media-bg-white mb-5" data-aos="fade-up"  data-aos-delay="400">
                    <figure>
                        <a href="{% url 'blog:post_detail' post.id %}"><img src="{{post.image.url}}" alt="Image placeholder" class="img-fluid"></a>
                    </figure>
                    <div class="media-body">
                        <h3><a href="{% url 'blog:post_detail' post.id %}">{{post}}</a></h3>
                        <p class="post-meta"><span><span class="fa fa-calendar"></span> {{post.created}}</span></p>
                        <p class="mb-4">{{post.content|truncatewords:20}}</p>
                        <p><a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                    </div>
                    </div> <!-- .media -->
                </div>
             {% endfor %}
            </div>

            <div class="row">

              {% if post_list.has_other_pages %}

                <div class="col-md-12">
                  <ul class="pagination custom-pagination">
                    {% if post_list.has_previous %}
                      <li class="page-item prev"><a class="page-link" href="?page={{post_list.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                    {% else %}
                      <li class="disabled"></li>
                    {% endif %}

                    {% for pages in post_list.paginator.page_range %}
                      {% if post_list.number == pages %}
                        <li class="page-item active"><a class="page-linkx" href="#">{{pages}}</a></li>
                      {% else %}
                        <li class="page-item active"><a class="page-linkx" href="?page={{pages}}">{{pages}}</a></li>
                      {% endif %}

                    {% endfor %}


                    {% if post_list.has_next %}
                      <li class="page-item next"><a class="page-link" href="?page={{post_list.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
                    {% else %}
                      <li class="disabled"></li>
                    {% endif %}
                  </ul>


                </div>
              {% endif %}
            </div>
        </div> <!-- .section -->



      </div> <!-- .main-wrap -->
      
      {% endblock body %}
