{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body %}



    <div class="main-wrap">
    <div class="cover_1 cover_sm">
        <div class="img_bg" style="background-image: url({% static 'img/slider-1.jpg' %})" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
            <div class="col-md-7" data-aos="fade-up">
                <h2 class="heading">Reservation</h2>
                <p class="lead">Make online reservations, read restaurant reviews from diners, and earn points towards free meals. OpenTable is a real-time online reservation.
                    Making a reservation at a restaurant can be done by phone, through a restaurant's website, third-party reservation sites or apps, at the restaurant in person.
                </p>
            </div>
            </div>
        </div>
        </div>
    </div> <!-- .cover_1 -->

    <div class="section" data-aos="fade-up">
        <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8  text-center">
            <h2 class="mb-3">Reservation</h2>
            <p class="lead">Make online reservations, read restaurant reviews from diners, and earn points towards free meals. OpenTable is a real-time online reservation.
                Making a reservation at a restaurant can be done by phone, through a restaurant's website, third-party reservation sites or apps, at the restaurant in person.
            </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 p-5 form-wrap">

            {% comment %}



            <form action="#">
                <div class="row mb-4">
                    <div class="form-group col-md-4">
                        <label for="name" class="label">Name</label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-android-person"></span>
                        <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email" class="label">Email</label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-email"></span>
                        <input type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone" class="label">Phone</label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-android-call"></span>
                        <input type="text" class="form-control" id="phone">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="persons" class="label">Number of Persons</label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-android-arrow-dropdown"></span>
                        <select name="persons" id="persons" class="form-control">
                            <option value="">1 person</option>
                            <option value="">2 persons</option>
                            <option value="">3 persons</option>
                            <option value="">4 persons</option>
                            <option value="">5+ persons</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="date" class="label">Date (dd/mm/yyyy) </label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-calendar"></span>
                        <input type="text" placeholder="dd/mm/yyyy" class="form-control" id="date">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="time" class="label">Time (hh:mm)</label>
                        <div class="form-field-icon-wrap">
                        <span class="icon ion-android-time"></span>
                        <input type="text" placeholder="hh:mm" class="form-control" id="time">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Submit">
                        <!-- <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p> -->
                    </div>
                </div>
            </form>
            {% endcomment %}

            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Reserve A Table</button>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                
                      {% if message.tags == "success" %}
                      <strong>Well done!</strong> {{ message}}
                      {% else %}
                      <strong>Error!</strong> {{ message}}
                      {% endif %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} 
                {% endbuttons %}
            </form>


            </div>
        </div>
        </div>
    </div> <!-- .section -->

    <div class="map-wrap" id="map"  data-aos="fade"></div>

    <div class="section" data-aos="fade">
        <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center"  data-aos="fade-up">
            <h2 class="mb-4">Customer's Reviews</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center" data-aos="fade-up">
            <div class="col-md-8">
            <div class="owl-carousel home-slider-loop-false">

            
            <div class="item">
                <blockquote class="testimonial">
                    <p>“Best breakfast on the east coast!”

                        “Best breakfast on the east coast! Try the hash!” – David M.
                        
                        “The absolute best red sauce”</p>
                    <div class="author">
                    <img src="{% static 'img/person_1.jpg' %}" alt="Image placeholder" class="mb-3">
                    <h4>Maxim Smith</h4>
                    <p>CEO, Founder</p>
                    </div>
                </blockquote>
                </div>
                <div class="item">
                <blockquote class="testimonial">
                    <p>“The absolute best red sauce. Weather on Pizza or Pasta, it’s honestly delicious. Portions are huge and the staff is extremely friendly and courteous.” – Rick H.

                        “We are so fortunate to have this outstanding restaurant in our town of Eastham”</p>
                    <div class="author">
                    <img src="{% static 'img/person_2.jpg' %}" alt="Image placeholder" class="mb-3">
                    <h4>Geert Green</h4>
                    <p>CEO, Founder</p>
                    </div>
                </blockquote>
                </div>
                <div class="item">
                <blockquote class="testimonial">
                    <p>“I go to breakfast or lunch weekly with a group of older women. In addition to the really good food, I must say that our waitress today was so kind and patient, as the group tried to decide what they wanted and were talking non-stop. 🤪 My husband and I love dinner there as well. We are so fortunate to have this outstanding restaurant in our town of Eastham. It’s a gem.” – Martha D.</p>
                    <div class="author">
                    <img src="{% static 'img/person_3.jpg' %}" alt="Image placeholder" class="mb-3">
                    <h4>Dennis Roman</h4>
                    <p>CEO, Founder</p>
                    </div>
                </blockquote>
                </div>
                <div class="item">
                <blockquote class="testimonial">
                    <p>“Would definitely come back to this place!”

                        “DELICIOUS BREAKFAST! We ordered the eggs mulligan, corn beef hash, and the California Focaccia. All were absolutely delicious. Maddy, our server, was super attentive, on top of it and funny. She made the experience perfect. She brought out the food all at the same time and brought us anything we asked for. Would definitely come back to this place!” – Cierra W.</p>
                    <div class="author">
                    <img src="{% static 'img/person_2.jpg' %}" alt="Image placeholder" class="mb-3">
                    <h4>Geert Green</h4>
                    <p>CEO, Founder</p>
                    </div>
                </blockquote>
                </div>
            </div>
            </div>
        </div>
        </div>  
    </div> <!-- .section -->
  


    </div> <!-- .main-wrap -->

{% endblock body %}
