{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body %}

<div class="main-wrap">
    <div class="cover_1 cover_sm">
        <div class="img_bg" style="background-image: url({% static 'img/slider-1.jpg' %})"
            data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 m-auto p-5 mx-auto form-wrap">
                        <h2 class="heading text-dark">Sign Up</h2>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row mb-4 grid">
                                <div class="form-group col-12">
                                    <label for="username" class="label">Username</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-android-person"></span>
                                        <input type="text" class="form-control" name="username" id="username" required>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="label">Email</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-email"></span>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="phone" class="label">Phone</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-android-call"></span>
                                        <input type="text" class="form-control" name="phone" id="phone">
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="password" class="label">Password</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-lock-closed"></span>
                                        <input type="text" class="form-control" name="password" id="password" required>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="password2" class="label">Retype Password</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-lock-closed"></span>
                                        <input type="text" class="form-control" name="password2" id="password2" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            
                                {% if message.tags == "success" %}
                                <strong>Well done!</strong> {{ message}}
                                {% else %}
                                <strong>Error!</strong> {{ message}}
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock body %}